#js_input {
    width: 30vw;
    height: 30vh;

    font-family: sans-serif;
    font-size: 10pt;
    border-radius: 10px;
    border-style: solid;
}

.runbtn {
    margin-top: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    background-color: rgb(43, 56, 238);
    color: white;
}

body {
    background-color: rgb(10, 10, 10);
    animation: marup 1.25s;
}

@keyframes marup {
    from{margin-top: 200px; opacity: 0;}
    to{margin-top: 0; opacity: 1;}
}